<?xml version="1.0" ?>
<config>
	<tabs>
		<agere module="agere_preOrder" translate="label">
			<label>Agere</label>
			<sort_order>1000</sort_order>
		</agere>
	</tabs>

	<sections>
		<agere_preOrder module="agere_preOrder" translate="label">
			<label>Pre Order</label>
			<sort_order>200</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<tab>agere</tab>
			<groups>
				<settings translate="label">
					<label>Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enable translate="label comment">
							<label>Enable</label>
							<comment>Show "Pre Order" button</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enable>
						<categories translate="label comment">
							<label>Categories</label>
							<comment>Categories ids (by comma) to which enable "Pre Order" button</comment>
							<frontend_type>text</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</categories>
						<mode translate="label comment">
							<label>Mode</label>
							<comment>IMPORTANT! Now implemented only mail</comment>
							<frontend_type>select</frontend_type>
							<source_model>agere_preOrder/system_config_source_mode</source_model>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</mode>
					</fields>
				</settings>

				<mail translate="label">
					<label>Mail Settings</label>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enabled>
						<recipient_email translate="label">
							<label>Send Emails To</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</recipient_email>
						<sender_email_identity translate="label">
							<label>Email Sender</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_identity</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</sender_email_identity>
						<email_template translate="label">
							<label>Email Template</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_template</source_model>
							<sort_order>80</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</email_template>
					</fields>
				</mail>
			</groups>
		</agere_preOrder>

	</sections>
</config>
